{{ if .IsHome }}
  {{ with .Site.Params.title }}
    <hgroup>
      <h1>{{ . }}</h1>
      {{ with $.Site.Params.description }}
        {{ $highlight := "인테리어 스타일 가이드" }}
        {{ $replacement := printf "**%s**" $highlight }}
        {{ $desc := replace . $highlight $replacement }}
        <p>{{ $desc | markdownify | safeHTML }}</p>
      {{ end }}
    </hgroup>
  {{ end }}
{{ else }}
  {{ if .Title }}
    <hgroup>
      <h1>{{ .Title }}</h1>
      {{ with .Params.Description }}
        <p>{{ . | markdownify }}</p>
      {{ end }}
    </hgroup>
  {{ end }}
{{ end }}
